@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Start <a href="./sql-syringe">SQL Syringe</a></p>
    </div>
